openai
smolagents
weave
word-agent @ git+https://github.com/Computer-use-agents/Word-Agent.git
wechat-agent @ git+https://github.com/Computer-use-agents/Wechat-Agent.git
calendar-agent @ git+https://github.com/Computer-use-agents/Calendar-Agent.git
player-agent @ git+https://github.com/Computer-use-agents/QuickTime-Agent.git
powerpoint-agent @ git+https://github.com/Computer-use-agents/PowerPoint-Agent.git
excel-agent @ git+https://github.com/Computer-use-agents/Excel-Agent.git
preview-agent @ git+https://github.com/Computer-use-agents/Preview-Agent.git
browser-agent @ git+https://github.com/Computer-use-agents/Browser-Agent.git
textedit-agent @ git+https://github.com/Computer-use-agents/TextEdit-Agent.git
finder-agent @ git+https://github.com/Computer-use-agents/Finder-Agent.git